*{
  margin: 0;
  padding: 0;
  font-size: 14px;
}

a{
  text-decoration: none;
  color: rgba(0,0,0,0.85);
}

ul,ol,li{
  list-style: none;
}
input{outline:none;}
.mar{
	margin: 0;
}
.pad{
	padding:0;
}
.clear{
  clear: both;
}
.cursor{
	cursor:pointer;
}
