html{
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
  font-size: 14px;
}
i{
  font-style:normal
}
a{
  text-decoration: none;
  color: rgba(0,0,0,0.85);
}
ul,ol,li{
  list-style: none;
}
input{outline:none;}
a:hover{
  color: #198CFF;
}
.clear:after{
  content: "";
  display: block;
  clear: both;
}
.mar{
  margin: 0;
}
.pad{
  padding:0;
}
.marpad{
  margin: 0;
  padding:0;
}
.cursor{
  cursor:pointer;
}
/*导入数字字体包*/
@font-face {
    font-family: 'newnumebr';   /*字体名称*/
    src: url('../fonts/DIN-Medium.otf');       /*字体源文件*/
}
.nnb{
  font-family: 'newnumebr'; 
}
.block45{
  color: rgba(0,0,0,0.45);
}
.block65{
  color: rgba(0,0,0,0.65);
}
.block85{
  color: rgba(0,0,0,0.85);
}
.fsize12{font-size: 12px;}
.fsize14{font-size: 14px;}
.fsize16{font-size: 16px;}
.fsize18{font-size: 18px;}
.fsize24{font-size: 24px;}
.fsize32{font-size: 32px;}
.fsize36{font-size: 36px;}

/*头部结束*/
.onehide{
	white-space:nowrap;/*不显示的地方用省略号...代替*/
	text-overflow:ellipsis;/* 支持 IE */
  -o-text-overflow: ellipsis;    /* 支持 Opera */
}

/*头部开始*/
.header-1{
  width: 100%;
}

.header-1-ct,.header-2-ct{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-1{
  height: 36px;
  line-height: 36px;
}

.href-yz{
  color: #198CFF;
  margin-left: 60px;
}

.href-joinZ{
  margin-right: 60px;
}

.header-2{
  width: 100%;
  height:80px;
  background:-webkit-linear-gradient(270deg, rgba(25,163,255,1) 0%, rgba(25,140,255,1) 100%);
  background:-moz-linear-gradient(270deg, rgba(25,163,255,1) 0%, rgba(25,140,255,1) 100%);
  background:-o-linear-gradient(270deg, rgba(25,163,255,1) 0%, rgba(25,140,255,1) 100%);
  background:linear-gradient(270deg, rgba(25,163,255,1) 0%, rgba(25,140,255,1) 100%);
}
.header-2-l{
  height: 80px;
}
.header-2-l>ul{
  padding-top: 28px;
}
.header-2-l>ul li{
  float: left;
  font-size: 18px;
  font-weight:400;
  color:rgba(255,255,255,1);
  margin-right: 22px;
  min-width: 45px;
  text-align: center;
  cursor: pointer;
}

.header-2-l>ul .active{
  font-weight:bold;
  position: relative;
}
.header-2-l>ul .active:after{
  content: '';
    position: absolute;
    left: 16%;
    top: auto;
    bottom: -8px;
    right: auto;
    height: 2px;
    width: 70%;
    background-color: #fff;
}

.header-2-r{
  padding-top: 20px;
}
.header-2-r input{
  font-size: 16px;
  width: 440px;
  height: 40px;
  outline: none;
  border: none;
  padding-left: 12px;
}
.header-2-r .sousuo{
  font-size: 30px;
  color: #198CFF;
  margin-left: -38px;
  position: relative;
  top: 6px;
  cursor: pointer;
}
.header-2-r .fabu-bt{
  color: #fff;
  width:120px;
  height:40px;
  line-height: 40px;
  font-size: 18px;
  background:linear-gradient(270deg,rgba(255,201,25,1) 0%,rgba(255,179,26,1) 100%);
  border: none;
  outline: none;
  margin-left: 40px;
  cursor: pointer;
}


/*底部样式开始*/
footer{
		overflow: hidden;
    width: 100%;
    height: 36.667rem;
    position: relative;
    background: url(../images/bto/bg_sloces.png) no-repeat;
    background-size: 100% 100%;
}
.footer_conter{
		position: relative;
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
}
.footer_conter1{
    width: 15%;
    height: 114px;
}
.footer_conter2{
    width: 15%;
    height: 180px;
}
.footer_conter3{
    width: 22%;
    height:216px;
}
.footer_conter4{
    width: 10.5%;
    height: 120px;
}
.footer_conter1 span,.footer_conter2 span,.footer_conter3 span{
    font-size: 18px;
    color: rgba(255,255,255,.8);
}
.footer_conter1 ul,.footer_conter2 ul{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-top: 12px;
}
.footer_conter1 ul li,.footer_conter2 ul li{
    width: 47%;
    margin-top: 12px;
}
.footer_conter1 ul li a,.footer_conter2 ul li a{
    color: rgba(255,255,255,.65);
}
.footer_conter4 span:nth-of-type(1){
    position: relative;    
}
.footer_conter4 span img{
    width: 100%;
    height: 100%;
}
.gzgzh{
    position: absolute;
    width: 28px;
    height: 115px;
    background: #00a0e9;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
    top: 0;
    right: -24px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.footer_title{
    font-size: 18px;
    color: #fff;    
    padding-left: 35px;
    margin-top: 70px;
    background: url(../images/logo/min_logo_1.png) no-repeat;
    background-size: 28px 20px;
    background-position: 0px 0px;
}
.conter3_h2{
    font-size: 24px;
    color: rgba(255,255,255,.8);
    margin:12px 0 24px 0;
}
.foot_t_box{
    position: absolute;
    width: 1200px;
    left: 50%;
    margin-left: -600px;
    bottom: 10px;
    text-align: center;
}

.foot_t span{
    text-align: center;
    color: rgba(0,0,0,.45)!important;
}
.foot_t span a{
    color: rgba(0,0,0,.45)!important;
}
.foot_t span a img{
	position: relative;
	bottom: -3px;
}
/*底部样式结束*/