.main_personal{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
}
/*左*/
.main_l{
	box-sizing: border-box;
	width: 880px;
	height: auto;
	background: #fff;
	padding: 24px 20px;
}
.shxq_title,.fbxq_title{
	position: relative;
}
.shxq_title:after,.fbxq_title:after{
	width: 40px;
	height: 2px;
    content: '';
    background: #198CFF;
    position: absolute;
    top: 30px;
    left: 0px;
}

.shxq_list{
	margin-top: 24px;
	border-top: 1px solid rgba(0,0,0,0.09);
	padding-bottom: 1px;
	margin-bottom: 10px;
}
.shxq_list ul li{
	margin-bottom: 24px;
	border-bottom: 1px solid rgba(0,0,0,0.09);
}
.shxq_list ul li:hover .label-each>span:nth-of-type(1){background: #FFF7E6; color: #FFB319;}
.shxq_list ul li:hover .label-each>span:nth-of-type(2){background: #FFEEEB; color: #FF8066;}
.shxq_list ul li:hover .label-each>span:nth-of-type(3){background:rgba(25,140,255,0.2); color: #4CA6FF;}
.shxq_list ul li:hover .label-each>span:nth-of-type(4){background: #D0F3F3; color: #27C2C2;}
.shxq_list ul li:hover .label-each>span:nth-of-type(5){background: #E3D5F6; color: #9469D1;}
.shxq_list ul li:hover .label-each>span:nth-of-type(6){background: #DFF5D4; color: #6DCC3D;}

.shxq_list ul li:hover .list-each{
	box-shadow:0px 2px 0px 0px rgba(0,0,0,0.1);
}
.title-list a,.title-list{
	transition: all 0.8s;
}
.shxq_list ul li:hover .title-list a,.shxq_list ul li:hover .title-list{
	color: #198CFF;
}

.list-each{
	transition: all 0.8s;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 128px;
	background: #fff;
}

.touxiang{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin: 20px 20px;
	margin-left: 0;
	position: relative;
}
.isjoin{
	position: absolute;
	padding: 2px 8px;
	background: #F52230;
	color: #fff;
	left: 50%;
	bottom: -12px;
	margin-left: -26px;
	border-radius: 2px;
}
.touxiang img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.list-xq-l{
	width: 8%;
}
.list-xq-m{
	padding-top: 20px;
	padding-left: 5px;
	width: 77%;
}
.list-xq-r{
	text-align: right;
	width: 13%;
	padding-top: 20px;
	color: rgba(0,0,0,0.65);
}
.list-xq-r>div{
	height: 88px;
	border-left: 1px solid rgba(0,0,0,0.09);
}
.list-xq-r p{
	margin-bottom: 12px;
}
.list-xq-r a{
	margin-left: 24px;
	color: rgba(0,0,0,0.65);
}
.list-xq-r a:first-child:hover{
	color: #198CFF;
}
.list-xq-r a:last-child:hover{
	color: #F52230;
}
.title-list{
	display: inline-block;
	overflow: hidden;
	max-width: 89%;
	position: relative;
	padding-right: 60px;
}
.title-list a{
	font-size: 18px;
}
.qiye-logo,.zome-logo{
	padding: 2px 10px;
	color: #fff;
	border-radius: 3px;
	position: absolute;
	bottom: 0;
	right: 0px;
}
.qiye-logo{
	background: #198CFF;
}
.zome-logo{
	background: #FFB31A;
}
.detail-each{
	margin-top: 12px;
	color: rgba(0,0,0,0.45);
}
.detail-each>span{
	margin-right: 90px;
}
.label-each{
	margin-top: 15px;
}
.label-each>span{
	transition: all 0.8s;
	color: rgba(0,0,0,0.65);
	font-size: 12px;
	padding: 2px 10px;
	background: #F2F2F2;
	border-radius:2px;
	margin-right: 11px;
}

/*发布需求*/
.content_3_ul{
	width: 860px;
	margin-top: 30px;
}
.content_3_ul li{
	width: 266px;
	float: left;
	margin-right: 20px;
	margin-bottom: 24px;
}
.content_3_li{
	height: 85px;
	padding: 20px 12px;
	border: 1px solid rgba(0,0,0,.09);
}
.content_3_li p{
	height: 45px;
	overflow:hidden;
	position: relative; 
	font-size: 16px;
	color: rgba(0,0,0,.85);
}
.title{
	line-height: 24px;
}
.li_mintext{
	width: 100%;
	height: 25px;
	line-height: 25px;
	margin-top: 15px;
}
.li_mintext li{
	margin: 0;
	float: left;
	width: 68px;
	height: 22px;
	padding: 0 2px;
	text-align: center;
	line-height: 22px;
	background: rgb(242,242,242);
	color: rgba(0,0,0,.25);
	font-size: 12px;
	margin-right: 8px;
	overflow: hidden;
	white-space:nowrap;/*不显示的地方用省略号...代替*/
	text-overflow:ellipsis;/* 支持 IE */
    -o-text-overflow: ellipsis;    /* 支持 Opera */
}
.zome-logo-xq{
	visibility: hidden;
	padding: 0px 4px; 
	color: #fff; 
	background:linear-gradient(270deg,rgba(255,201,25,1) 0%,rgba(255,179,26,1) 100%);
	border-radius:2px;
}

.content_3_ul li,.content_3_li > a > p{transition: all 0.8s;}
.content_3_ul li:hover .content_3_li > a > p{color: #198CFF;}
.content_3_ul li:hover .zome-logo-xq{visibility: visible;}
.content_3_ul li:hover .content_3_li ul li:nth-of-type(1){background: #FFF7E6; color: #FFB319;}
.content_3_ul li:hover .content_3_li ul li:nth-of-type(2){background: #FFEEEB; color: #FF8066;}
.content_3_ul li:hover .content_3_li ul li:nth-of-type(3){background:rgba(25,140,255,0.2); color: #4CA6FF;}

.shou_more{
	width: 100%;
	height: 25PX;
	line-height: 25PX;
	text-align: center;
}
.shou_more a{
	width: 56px;
	height: 20px;
	display: inline-block;
	color: rgba(0,0,0,.45);
}
.shou_more a:hover{
	color: #198CFF;
}
/*发布需求结束*/

/*我的关注*/
.main_content_l_6{
	width: 860px;
	margin-top: 30px;
	padding-bottom: 24px;
}
.main_content_l_6>ul{
	width: 100%;
	margin-top: 30px;
}
.main_content_l_6>ul>li{
	float: left;
	margin-right: 18px;
	margin-bottom: 24px;
	width: 194px;
	height: 246px;
	border:1px solid rgba(0,0,0,0.09);
	transition: all 0.5s;
}
.main_content_l_6>ul>li:hover{
	box-shadow:0px 2px 8px 0px rgba(0,0,0,0.1);
}
.main_content_l_6>ul>li>div{
	width: 100%;
	height: 100%;
	display: inline-block;
	text-align: center;
	position: relative;
}
.main_content_l_6>ul>li>div img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-top: 24px;
}
.main_content_l_6>ul>li>div>p:nth-of-type(1){
	font-size: 18px;
	color: rgba(0,0,0,.85);
	margin-top: 12px;
}
.main_content_l_6>ul>li>div>p:nth-of-type(2){
	font-size: 12px;
	color: rgba(0,0,0,.45);
	margin-top: 4px;
}
.main_content_l_6>ul>li>div>p:nth-of-type(3){
	text-align: left;	
	margin-top: 24px;
	margin-left: 11px;
	font-family: 'newnumebr'; 
}
.main_content_l_6>ul>li>div>p:nth-of-type(4){
	text-align: left;
	margin-top: 8px; 
	margin-left: 11px;
	font-family: 'newnumebr'; 
}

.main_content_l_6>ul>li:hover .susp_attention{
	display: block;
}
.susp_attention{
	width: 100%;
	height: 154px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #fff;
	box-sizing: border-box;
	padding-top: 16px;
	display: none;
	transition: all 1s;
}
.send_message{
	display: inline-block;
	width: 96px;
	height: 26px;
	line-height: 26px;
	margin: 0 auto;
	background: #198CFF;
	color: #fff;
	font-size: 12px;
	margin-bottom: 14px;
}
.susp_attention p{
	padding-left: 18px;
	text-align: left;
	color: rgba(0,0,0,0.65);
	margin-top: 8px;
	font-family: 'newnumebr'; 
}
.susp_attention p i{
	color: #198CFF;
}
/*我的关注结束*/

.mycollect_list{
	margin-top: 24px;
	padding-bottom: 1px;
	margin-bottom: 10px;
}
.mycollect_list ul li{
	margin-bottom: 24px;
	border-top: 1px solid rgba(0,0,0,0.09);
}
.mycollect_list ul li:hover .label-each>span:nth-of-type(1){background: #FFF7E6; color: #FFB319;}
.mycollect_list ul li:hover .label-each>span:nth-of-type(2){background: #FFEEEB; color: #FF8066;}
.mycollect_list ul li:hover .label-each>span:nth-of-type(3){background:rgba(25,140,255,0.2); color: #4CA6FF;}
.mycollect_list ul li:hover .label-each>span:nth-of-type(4){background: #D0F3F3; color: #27C2C2;}
.mycollect_list ul li:hover .label-each>span:nth-of-type(5){background: #E3D5F6; color: #9469D1;}
.mycollect_list ul li:hover .label-each>span:nth-of-type(6){background: #DFF5D4; color: #6DCC3D;}

.mycollect_list ul li:hover .title-list a,.mycollect_list ul li:hover .title-list{
	color: #198CFF;
}
/*我的收藏*/


/*右*/
.main_r{
	width: 300px;
	height: auto;
}

/*个人信息*/
.per_info{
	position: relative;
	overflow: hidden;
	background: #fff;
	padding-bottom: 40px;
}
.compile{
	position: absolute;
	right: 12px;
	top: 12px;
}
.compile:hover{
	color: #198CFF;
}
.head-img{
	width: 60px;
	height: 60px;
	margin: 24px auto 12px;
	border-radius: 50%;
	overflow: hidden;
}
.head-img img{
	width: 100%;
	height: 100%;
}
.approve{
	margin-top: 8px;
	box-sizing: border-box;
	text-align: center;
	height: 24px;
	line-height: 24px;
}
.approve img{
	width: 20px;
	height: 18px;
	position: relative;
	top: 3px;
}
.post-xq,.myCollect,.myFocus{
	text-align: center;
}


/*公司或园区名片*/
.card{
	margin-top: 24px;
	width: 100%;
	height: 168px;
	box-sizing: border-box;
	background: #fff;
	padding: 24px 20px;
	
}
.card img{
	width: 60px;
	height: 60px;
}

.look_company,.look_zome{
	display: inline-block;
	width: 100%;
	height: 36px;
	color: #fff;
	margin-top: 24px;
	line-height: 36px;
	text-align: center;
}
.look_company:hover,.look_zome:hover{
	color: #fff;
}
.look_company{
	background: #198CFF;
}
.look_zome{
	background: #FFB31A;
}
