.main_personal{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
	padding-top: 10px;
}
.topUrl{
	width: 1200px; margin: 0 auto; padding-top: 10px;
}
.topUrl a{
	color: rgba(0,0,0,0.45);
}
.topUrl a:hover{
	color: #198CFF;
}


/*左*/
.main_l{
	box-sizing: border-box;
	width: 880px;
	height: auto;
	background: #fff;
	padding: 24px 20px;
}
.shxq_title,.fbxq_title{
	position: relative;
}
.shxq_title:after,.fbxq_title:after{
	width: 40px;
	height: 2px;
    content: '';
    background: #198CFF;
    position: absolute;
    top: 30px;
    left: 0px;
}


.shou_more{
	width: 100%;
	height: 25PX;
	line-height: 25PX;
	text-align: center;
}
.shou_more a{
	width: 56px;
	height: 20px;
	display: inline-block;
	color: rgba(0,0,0,.45);
}
.shou_more a:hover{
	color: #198CFF;
}

/*我的关注*/
.main_content_l_6{
	width: 860px;
	margin-top: 30px;
	padding-bottom: 24px;
}
.main_content_l_6>ul{
	width: 100%;
	margin-top: 30px;
}
.main_content_l_6>ul>li{
	float: left;
	margin-right: 18px;
	margin-bottom: 24px;
	width: 194px;
	height: 246px;
	border:1px solid rgba(0,0,0,0.09);
	transition: all 0.5s;
}
.main_content_l_6>ul>li:hover{
	box-shadow:0px 2px 8px 0px rgba(0,0,0,0.1);
}
.main_content_l_6>ul>li>div{
	width: 100%;
	height: 100%;
	display: inline-block;
	text-align: center;
	position: relative;
}
.main_content_l_6>ul>li>div img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-top: 24px;
}
.main_content_l_6>ul>li>div>p:nth-of-type(1){
	font-size: 18px;
	color: rgba(0,0,0,.85);
	margin-top: 12px;
}
.main_content_l_6>ul>li>div>p:nth-of-type(2){
	font-size: 12px;
	color: rgba(0,0,0,.45);
	margin-top: 4px;
}
.main_content_l_6>ul>li>div>p:nth-of-type(3){
	text-align: left;	
	margin-top: 24px;
	margin-left: 11px;
	font-family: 'newnumebr'; 
}
.main_content_l_6>ul>li>div>p:nth-of-type(4){
	text-align: left;
	margin-top: 8px; 
	margin-left: 11px;
	font-family: 'newnumebr'; 
}

.main_content_l_6>ul>li:hover .susp_attention{
	display: block;
}
.susp_attention{
	width: 100%;
	height: 154px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #fff;
	box-sizing: border-box;
	padding-top: 16px;
	display: none;
	transition: all 1s;
}
.send_message{
	display: inline-block;
	width: 96px;
	height: 26px;
	line-height: 26px;
	margin: 0 auto;
	background: #198CFF;
	color: #fff;
	font-size: 12px;
	margin-bottom: 14px;
}
.susp_attention p{
	padding-left: 18px;
	text-align: left;
	color: rgba(0,0,0,0.65);
	margin-top: 8px;
	font-family: 'newnumebr'; 
}
.susp_attention p i{
	color: #198CFF;
}
/*我的关注结束*/


/*右*/
.main_r{
	width: 300px;
	height: auto;
}

/*个人信息*/
.per_info{
	position: relative;
	overflow: hidden;
	background: #fff;
	padding-bottom: 40px;
}
.compile{
	position: absolute;
	right: 12px;
	top: 12px;
}
.compile:hover{
	color: #198CFF;
}
.head-img{
	width: 60px;
	height: 60px;
	margin: 24px auto 12px;
	border-radius: 50%;
	overflow: hidden;
}
.head-img img{
	width: 100%;
	height: 100%;
}
.approve{
	margin-top: 8px;
	box-sizing: border-box;
	text-align: center;
	height: 24px;
	line-height: 24px;
}
.approve img{
	width: 20px;
	height: 18px;
	position: relative;
	top: 3px;
}
.post-xq,.myCollect,.myFocus{
	text-align: center;
}


/*公司或园区名片*/
.card{
	margin-top: 24px;
	width: 100%;
	height: 168px;
	box-sizing: border-box;
	background: #fff;
	padding: 24px 20px;
	
}
.card img{
	width: 60px;
	height: 60px;
}

.look_company,.look_zome{
	display: inline-block;
	width: 100%;
	height: 36px;
	color: #fff;
	margin-top: 24px;
	line-height: 36px;
	text-align: center;
}
.look_company:hover,.look_zome:hover{
	color: #fff;
}
.look_company{
	background: #198CFF;
}
.look_zome{
	background: #FFB31A;
}
